.sopac-subaccount {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border: 1px solid #CCCCCC;
  background-color: #FFFFDD;
}

.sopac-subaccount .subaccount-manage {
  float: right;
  margin-bottom: -15px;
}

.sopac-subaccount .subaccount-remove {
  float: right;
  margin-bottom: -15px;
  padding-left: 10px;
  width: 128px;
}

.sopac-subaccount h3 {
  margin-bottom: 0;
  clear: right;
}

.sopac-subaccount .checkouts-wrapper {
  width: 50%;
  float: left;
}
.sopac-subaccount .checkouts {
  margin-right: 5px;
}

.sopac-subaccount .holds-wrapper {
  width: 50%;
  float: right;
}
.sopac-subaccount .holds {
  margin-left: 5px;
}

.sopac-subaccount table {
  width: 100%;
}

table.sopac-subaccount-patinfo {
  width: 50%;
}

.patroninfo-profile-wrapper {
  width: 50%;
  float: left;
}
.patroninfo-profile {
  margin-right: 5px;
}
.patroninfo-profile h3 {
  margin-top: 0;
}

.sopac-subaccount-table-wrapper {
  width: 50%;
  margin-left: auto;
}
.sopac-subaccount-table {
  margin-left: 5px;
}
